<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>KJSCE Attendance System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static',filename='styles/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files 
  <link href="{{ url_for('static',filename='styles/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='styles/lib/animate-css/animate.min.css') }}" rel="stylesheet">-->

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static',filename='styles/css/style.css') }}" rel="stylesheet">


</head>

<body>
  <!--<div id="preloader"></div>-->

    <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <!--<img class="" src="img/logo.png" alt="Imperial">-->
        </div>
			<br>
			<br>
            <br>
			<h1 style="font-family:Cursive">KJSCE Attendance Management System</h1>
       
        <div class="actions">
          <a href="/sheets" class="btn-get-started" style="font-family:Cursive">Update Attendance</a>
          <a href="/defaulters" class="btn-services" style="font-family:Cursive">Check Defaulters</a>
        </div>
      </div>
    </div>
  </section>
  </body>
  </html>